span {font-family: 'Material Icons';}

body {background-color: #020406; margin:70px auto; padding-left:min(16px); padding-right:min(16px); max-width: 960px;}

.primary {color: #fefefe; font-family: Helvetica, sans-serif}
.secondary {color: #fefefe60; font-family: Helvetica, sans-serif}

.title {font-size: 20px; font-weight: 700; font-family: Helvetica, sans-serif; margin-top: 16px; margin-bottom: 10px;}
.mailto {text-decoration-line: none;}
.mailto:hover {text-decoration-line: underline;}

a:link { text-decoration: none; }
a:hover { text-decoration: underline;}

.nerd { font-family: nerd;}

/* Profile */

.profile {display:flex;}

.pfp {width:42px; height:auto; border-radius:100%; outline:2px solid #00000060;  outline-offset:-2px;}
.badge {width:16px; height:auto; position:relative; left:-16px; margin-right:-16px;}
.name {font-size:32px; font-weight:600; font-family:Helvetica,sans-serif; margin:0; align-self:center; margin:0 16px; position:relative; top:-3px;}
.about {font-family: Helvetica, sans-serif; font-size:16px; margin: 10px 0;}

#discordID {width:0px;height:0px;margin:0px;visibility:hidden;}

/* Links */
.links {display: flex; flex-wrap: wrap; gap: 10px}

.link {padding:4px 8px; background-color:#04080b; border:2px solid #090d10; border-radius:16px; display:inline-flex; align-items:center; justify-content:space-between; text-decoration:none; position:relative; top:0; transition: 0.3s;}
.link:hover {box-shadow: 0 4px 8px 0 rgba(7, 11, 14, 0.6), 0 6px 20px 0 rgba(7, 11, 14, 0.6); position:relative; top:-3px;}
.link:active {background-color:#14181B; border:2px solid #1F2326; position:relative; top:0}
.link img {padding:8px;}

.logo {width:24px; height:auto;}
.handle {font-weight:600; padding:0 16px;}


@media only screen and (max-device-width : 480px) {
  .link {
    width: 100%;
  }
