span {font-family: 'Material Icons';}

body {background-color: #05080a; margin:70px auto; padding-left:min(16px); padding-right:min(16px); max-width: 960px;}

.primary {color: #ced4df; font-family: Helvetica, sans-serif}
.secondary {color: #33363c; font-family: Helvetica, sans-serif}
#playing {color:#b4f8c8; font-family:Helvetica,sans-serif;}

.title {font-size: 20px; font-weight: 700; font-family: Helvetica, sans-serif;}
.mailto {text-decoration-line: none;}
.mailto:hover {text-decoration-line: underline;}



/* Profile */

.profile {display:flex;}

.pfp {width:42px; height:auto; border-radius:100%; outline:1px solid #ffffff20;  outline-offset:-1px;}
.badge {width:16px; height:auto; position:relative; left:-16px; margin-right:-16px;}
.name {font-size:32px; font-weight:700; font-family:Helvetica,sans-serif; margin:0; align-self:center; margin:0 16px; position:relative; top:-3px;}
.about {font-family: Helvetica, sans-serif; font-size:16px;}

#discordID {width:0px;height:0px;margin:0px;visibility:hidden;}

/* Links */
.links {display: flex; flex-wrap: wrap; gap: 10px}

.link {padding:8px; background-color:#070b0e; border:2px solid #090d10; border-radius:16px; display:inline-flex; align-items:center; justify-content:space-between; text-decoration:none; position:relative; top:0; transition: 0.3s;}
.link:hover {box-shadow: 0 4px 8px 0 rgba(7, 11, 14, 0.6), 0 6px 20px 0 rgba(7, 11, 14, 0.6); position:relative; top:-3px;}
.link img {padding:8px;}

.logo {width:24px; height:auto;}
.handle {font-weight:600; padding:0 16px;}


@media only screen and (max-device-width : 480px) {
  .link {
    width: 100%;
  }


/* Music */
.music {display:flex; flex-wrap:wrap; gap:10px;}

.song {padding:8px; background-color:#070b0e; border:2px solid #090d10; border-radius:16px; display:inline-flex; align-items:center; justify-content:space-between; text-decoration:none;}
.song:hover {background-color:#090d10; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.song img {padding:8px;}

.cover { width:40px; height:40px; border-radius:16px; }
.handle {font-weight:600; padding:0 16px;}
.songtitle {margin-top:8px;}
.artist {margin-top:-16px; margin-bottom:8px;}

/* Projects */
.projects {display:flex; flex-wrap:wrap; gap:10px;}

.project {padding:8px; background-color:#070b0e; border:2px solid #090d10; border-radius:16px; display:inline-flex; align-items:center; justify-content:space-between; text-decoration:none;}
.project:hover {background-color:#090d10; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.project img {padding:8px;}

.trackground:hover {box-shadow: 0 4px 8px 0 rgba(210, 186, 144, 0.6), 0 6px 20px 0 rgba(7, 11, 14, 0.6); position:relative; top:-3px;}

.icon {width:40px;height:auto; padding:0px; border-radius:16px;}
